@import '../variables.scss';

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin: 2em 15px;
  padding: 20px;
  background-color: var(--main-color, #5cdb95);
  border-radius: var(--border-radius, 25px);
  max-width: 100%;
  max-height: 100vh;

  &__title {
    margin: 0;
    text-align: center;
    color: var(--accent-color, #05386b);
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .app {
    gap: 10px;
    &__title {
      font-size: 36px;
    }
  }
}

