@import '../variables.scss';
@import './mixins/icon.scss';

.modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--main-color, #5cdb95);
  padding: 20px;
  border-radius: var(--border-radius, 25px);
  min-width: 270px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;

  &--overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  &__close-button {
    @include icon(var(--accent-color, #05386b), 28px);
    align-self: end;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__form input {
    position: relative;
    padding: 10px 15px;
    border: none;
    border-radius: var(--border-radius, 25px);
    background-color: var(--text-color);
    color: var(--accent-color, #05386b);
    font-size: 18px;
  }

  &__form input::placeholder {
    color: var(--accent-color, #05386b);
    font-size: 16px;
  }

  &__form input:focus {
    outline: none;
  }

  &__button--submit {
    width: fit-content;
    align-self: center;
    padding: 10px 25px;
    background-color: var(--accent-color, #05386b);
    border-radius: var(--border-radius, 25px);
    color: var(--text-color, #edf5e1);
    transform: scale(1);
    transition: transform 0.3s ease-in;
  }

  &__button--submit:active,
  &__close-button:active {
    transform: scale(0.95);
  }

  &__button--submit:focus {
    outline: none;
  }

  &__button--submit:disabled {
    opacity: 0.5;
    cursor: default;

    &:hover {
      border-color: transparent;
    }
  }
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__error-message {
  position: absolute;
  top: 90%;
  left: 15px;
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
