@import './mixins/checkbox.scss';
@import './mixins/icon.scss';

.sub-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  height: fit-content;

  &__checkbox {
    @include custom-checkbox(var(--accent-color), var(--text-color), 16px);

    .checkmark {
      top: 51%;
    }
  }

  &__title {
    margin: 0;
    margin-inline-end: auto;
  }

  &__title--active {
    text-decoration: line-through var(--accent-color, #05386b);
  }

  &__button--delete {
    @include icon(var(--accent-color), 22px);
    cursor: pointer;
  }
}

@media screen and (max-width: 450px) {
  .sub-task {
    &__title {
      font-size: 14px;
    }

    &__button {
      &--delete {
        @include icon(var(--accent-color), 20px);
      }
    }
  }
}
