:root {
  /* colors */

  --main-color: #fff;
  --accent-color: #010101;
  --text-color: #fff;
  --accent-text-color: #00b6dd;
  --additional-text-color: #081580;

  /* sizes */
  --padding-size: 20px;
  --border-radius: 25px;
}
